* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #FC3F5D;
  --light-pink: #FD9FAD;
  --white: #ffffff;
  --black: #000000;
  --gray: #AAA7A8;

}

img {
  display: block;
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}